<div class="portada">

    <div class="container">
        <div class="container-logo">
            <span class="logo-index"><h1>poridede.com</h1></span>
            <p>Puedes entrar usando tu usuario de Pordede o Plusdede.</p>
            <p>Si no recuerdas tu contraseña, clica en recuperar contraseña para cambiarla</p>
            
        </div>
        <div class="botones-index">
            <button><a routerLink="/home" routerLinkActive="active-link">Enter</a></button>
        </div>
    </div>    

</div>


