<div class="header">
    <nav>
        <ul>
            <span class="logo-header"><p>Megadede</p></span>
            <a routerLink="/home" routerLinkActive="active-link">Home</a>
            <a routerLink="/display" routerLinkActive="active-link">List</a>
            <a routerLink="/search" routerLinkActive="active-link">Search</a>
        </ul>
        <ul>
            <a routerLink="/login" routerLinkActive="active-link">Login</a>
            <a routerLink="/signup" routerLinkActive="active-link">Signup</a>
        </ul>
    </nav>
</div>