<app-header></app-header>
<h3>Insert a movie title.</h3>

    <input type="text" name="" id="" placeholder="Título" (keyup)="buscaTitulo($event)">
<div class="container-fluid">
    
    <div class="movies">

        <app-movie-modal *ngIf="showModal" [showModal]="showModal" (closed)="closeMovieModalDetail()" [movie]="currentMovie"></app-movie-modal>
        
            <div class="peliculas" *ngFor="let pelicula of MovieService.peliculas">
                <img width="200"height="288" (click)="showMovieModalDetail(pelicula)"
                    src="https://image.tmdb.org/t/p/w200/{{pelicula.poster_path}}" 
                    alt="poster">
            </div>
        
    </div>
</div>

