.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e7e7e7;
}

.peliculas {
    display: block;
    margin-top: 20px;
}

.pagination {
    background-color: #e7e7e7;
}



